/************ GENERAL ************/

$active-color: #008bc8;
$base-color: #ffffff;
$accent-color: #00D456;
$danger-color: #FF3100;

body {
  font-family: Roboto, sans-serif;
}

section {
  margin-top: 30px;
  padding: 15px;
  //box-shadow: 0 0 10px 2px $active-color;

  h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 15px;
  }

  h2 {
    font-size: 1.8rem;
  }

  &.bg-base {
    h1 {
      color: $active-color;
    }
  }

  &.bg-active {
    background-color: $active-color;
    color: $base-color;

    h1 {
      //text-shadow: 1px 1px $accent-color, -1px -1px $accent-color, -1px 1px $accent-color, 1px -1px $accent-color;
      text-shadow: 2px 2px $accent-color;
    }
  }
}

/************ HEADER ************/

.title {
  background-image: url("../img/title-bg.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  min-height: calc(100vh - 58px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title-block {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;

    ul {
      margin: 0;
    }
  }

  .title-text {
    height: 100%;
    font-weight: 800;

    h3 {
      color: $active-color;
    }

    ul {
      padding: 0;
      list-style-type: none;

      li {
        padding: 3px;
        margin: 3px 0;
        color: $base-color;
        background-color: $active-color;
        border-radius: 3px;

        .fa-long-arrow-right {
          margin: 0 5px;
        }
      }
    }
  }
}

nav {
  background-color: $base-color;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.20), 0 5px 5px rgba(0, 0, 0, 0.20);

  .navbar-nav .nav-item .nav-link {
    color: $active-color;
    border-radius: 3px;
    transition: font-weight 1s, background-color 1s, color 1s;

    &:hover, &:active, &:focus {
      background-color: $active-color;
      color: $base-color;
      font-weight: bold;
    }
  }

  .navbar-brand img {
    width: 30px;
    height: 30px;
  }

  button.navbar-toggler.custom-toggler {
    color: $active-color;
    border-color: $active-color;
    transition: color 1s, background-color 1s, transform 1s;
    padding: 4px 6.5px;

    &:hover {
      color: $base-color;
      background-color: $active-color;
      transform: rotate(360deg);

      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      }
    }

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0,139,200)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
  }
}

/************ FOOTER ************/

footer {
  background-color: $active-color;
  color: $base-color;
  padding-right: 15px;
  padding-bottom: 5px;
  font-size: 0.8rem;
}

/************ ABOUT-US ************/

/************ NEWS ************/

#news {
  hr {
    border-top: 1px solid $accent-color;
  }
}
.news-card {

}

/************ WORKING-METHODS ************/
.method-card {
  background-color: $accent-color;
  color: $base-color;
  border-radius: 3px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);

  h2 {
    text-align: center;
    padding: 10px 0;
    margin: 0;
  }

  p {
    text-align: center;
    padding: 15px;
    margin: 0;
  }
}

/************ OFFER ************/
#offer {
  .offer-card {
    border: 1px solid $accent-color;
    box-shadow: 0 0 3px 1px $accent-color;
    margin: 10px 0;

    table {
      td {
        text-align: center;
        width: 200px;
        padding: 8px;
        font-size: 1.2rem;
      }
      .icon-cell {
        width: 30px;

        span {
          font-size: 1.8rem;
        }
      }
    }
  }
}

/************ GALLERY ************/
#gallery {
  div {
    justify-content: center;
  }
}

/************ CONTACT ************/

#contact {
  img {
    max-width: 150px;
    border-radius: 50%;
    box-shadow: 0 0 14px $accent-color, 0 0 5px $accent-color;
  }

  table {
    tr {
      border-bottom: 1px solid $accent-color;

      &:last-child {
        border-bottom: none;
      }
    }

    td {
      padding: 8px;
    }
    .icon-cell {
      width: 30px;
    }
  }

}

