/************ GENERAL ************/

$active-color: #008bc8;
$base-color: #ffffff;
$accent-color: #00D456;
$danger-color: #FF3100;

/************ ABOUT-US ************/



/************ NEWS ************/



/************ WORKING-METHODS ************/



/************ OFFER ************/



/************ GALLERY ************/



/************ CONTACT ************/


