/************ GENERAL ************/

$active-color: #008bc8;
$base-color: #ffffff;
$accent-color: #00D456;
$danger-color: #FF3100;
$handwriting-font: 'Caveat', cursive;

body {
  font-family: 'Open Sans', sans-serif;
}

section {
  margin-top: 30px;
  padding: 15px;

  h2 {
    text-align: center;
    margin-bottom: 15px;
    font-family: $handwriting-font;
  }

  h2 {
    font-size: 2.5rem;
  }

  &.bg-base {
    h2 {
      color: $active-color;
    }
  }

  &.bg-active {
    background-color: $active-color;
    color: $base-color;

    h2 {
      text-shadow: 2px 2px 5px $accent-color;
    }
  }
}

/************ HEADER ************/

.title {
  background-image: url("../img/title-bg.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  min-height: calc(100vh - 56px);
  display: flex;
  display: -webkit-flex;
  height: 1rem; //fix IE horizontal alignment
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $handwriting-font;


  img {
    max-width: 150px;
  }

  .title-block {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;

    ul {
      margin: 0;
    }
  }

  .title-text {
    height: 100%;
    font-weight: 800;

    h1 {
      color: $active-color;
      text-align: right;
      width: 100%;
    }

    ul {
      padding: 0;
      list-style-type: none;
      font-size: 1.2rem;

      li {
        padding: 3px;
        margin: 3px 0;
        color: $base-color;
        background-color: $active-color;
        border-radius: 3px;

        .fa-long-arrow-right {
          margin: 0 5px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .title {
    h1 {
      text-align: center !important;
    }
    ul {
      margin: auto !important;
    }
  }
}

nav {
  background-color: $base-color;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.20), 0 5px 5px rgba(0, 0, 0, 0.20);
  font-family: $handwriting-font;

  &.navbar-custom {
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-nav .nav-item .nav-link {
    color: $active-color;
    border-radius: 3px;
    transition: font-weight 1s, background-color 1s, color 1s;
    font-size: 1.2rem;
    .fa {
      margin-right: 5px;
    }

    &:hover, &:active, &:focus {
      background-color: $active-color;
      color: $base-color;
      font-weight: bold;
    }
  }

  .navbar-brand img {
    width: 45px;
    height: 45px;
  }

  button.navbar-toggler.custom-toggler {
    color: $active-color;
    border-color: $active-color;
    transition: color 1s, background-color 1s, transform 1s;
    padding: 4px 6.5px;

    &:hover {
      color: $base-color;
      background-color: $active-color;
      transform: rotate(360deg);

      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      }
    }

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0,139,200)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
  }
}

/************ FOOTER ************/

footer {
  background-color: $active-color;
  color: $base-color;
  padding-right: 15px;
  padding-bottom: 5px;
  font-size: 0.8rem;
}

/************ ABOUT-US ************/

/************ NEWS ************/

#news {
  hr {
    border-top: 1px solid $accent-color;
  }
}

.news-card {
  h3 {
    position: relative;

    .date {
      float: right;
      font-size: 1.2rem;
      margin-top: 5px;
    }
  }
}

/************ WORKING-METHODS ************/
.method-card {
  background-color: $active-color;
  color: $base-color;
  border-radius: 3px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
  padding: 0 5px;

  .expand-btn {
    bottom: 0;
    background-color: $accent-color;
    border: solid 5px $active-color;
    border-radius: 10px;
    color: $active-color;
    transition: color 1s, background-color 1s;

    &:hover, &:active, &:focus {
      outline: 0;
    }

    &:hover {
      background-color: $base-color;
    }
  }

  h3 {
    text-align: center;
    padding: 10px 15px;
    margin: 0;
    font-family: $handwriting-font;
    font-size: 1.2rem;
  }

  p {
    text-align: justify;
    padding: 15px;
    margin: 0;
    font-size: 0.8rem;
  }

  ul {
    padding: 15px;
    padding-left: 30px;
    list-style-type: square;
    li {
      font-size: 0.8rem;
    }
  }
}

/************ OFFER ************/
#offer {
  a {
    color: $accent-color;
    font-weight: bold;
  }


  table {
    td, th {
      border: 1px solid $base-color;
      text-align: center;
      width: 200px;
      padding: 6px;
    }
  }
}

/************ GALLERY ************/
#gallery {
  div {
    justify-content: center;
    text-align: center;
    margin-top: 15px;
  }

  img {
    transition: opacity 1s, transform 1s;
  }
}

/************ CONTACT ************/

#contact {
  img.contact {
    max-width: 125px;
    max-height: 125px;
    border-radius: 50%;
    box-shadow: 0 0 14px $accent-color, 0 0 5px $accent-color;
  }

  p {
    margin: 0;
  }

  #map {
    height: 100%;
    width: 100%;
    min-height: 100px;
    max-width: 300px;
    margin: auto;
    box-shadow: 0 0 14px $accent-color, 0 0 5px $accent-color;
  }

  table {
    tr {
      border-bottom: 1px solid $accent-color;

      &:last-child {
        border-bottom: none;
      }
    }

    td {
      padding: 8px;

      a {
        color: $base-color;
        text-decoration: none;
      }
    }
    .icon-cell {
      width: 30px;
    }
  }

}
